*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
*::after{ 
    box-sizing: border-box;
}
*::before{
    box-sizing: border-box;
}


.wrapper {
    width: 100%;
    height: 165px;
    position: relative;
}

* body{
    height: 100vh;
    border: 1px solid green;
    display: flex;
    justify-content: center;
    align-items: center;
    background: yellow;
}

.nose {
    border-style:solid;
    width: 0px;
    height: 0px;
    border-radius:11px;
    border-width:14px;
    border-color: black transparent transparent ;
    position: absolute;
    left: 50%;
    top: 20px;
    margin-left: -14px;
}

.eye {
    width: 40px;
    height: 40px;
    background: black;
    position: absolute;
    border-radius: 50%;
    border: 2px solid black;
}
.eye::after{
    content: '';
    display: block;
    width: 20px;
    height: 20px;
    position: absolute;
    background: white;
    border-radius: 50%;
    border: 2px solid white;
    left: 2px;
    top: 2px;
}

.eye.left {
    right: 50%;
    margin-right: 100px;
}
.eye.right {
    left: 50%;
    margin-left: 100px;
}

.face {
    width: 80px;
    height: 80px;
    border: 2px solid black;
    border-radius: 50%;
    position: absolute;
    background: red
}

.face.left {
    right: 50%;
    margin-right: 140px;
    bottom: 20px;
}

.face.right {
    left: 50%;
    margin-left: 140px;
    bottom: 20px;
}

.upperLip {
    width: 90px;
    height: 28px;
    border: 3px solid black;
    position: absolute;
    top: 50px;
}

.upperLip.left {
    right: 50%;
    border-bottom-left-radius: 40px 20px;
    border-top: none;
    border-right: none;
    transform: rotate(-20deg);
    background: yellow;
}

.upperLip.right {
    left: 50%;
    border-bottom-right-radius: 40px 20px;
    border-top: none;
    border-left: none;
    transform: rotate(20deg);
    background: yellow;
}

.lowerLip {
    width: 200px;
    height: 2000px;
    background: red;
    border-radius:100px/900px;
    position: absolute;
    bottom: 0px;
    margin-left: 50px;
    border: 2px solid black;
    overflow: hidden;
}

.lowerLip-wrapper {
    width: 300px;
    height: 110px;
    left: 50%;
    margin-left: -150px;
    z-index: -1;
    position: absolute;
    bottom: 0;
    overflow: hidden;
}

.lowerLip::after{
    content: '';
    position: absolute;
    width: 100px;
    height: 100px;
    border: 1px solid black;
    bottom: -18px;
    background: palevioletred;
    border-radius: 50px;
    left: 50%;
    margin-left: -50px;
}































